html > body.stlp--hideTopBar:has(.stlp--container) > #top-bar,
html > body.stlp--hideTopBar:has(.stlp--container) > #top-settings-holder {
  opacity: 0;
  transition: 200ms;
}
html > body.stlp--hideTopBar:has(.stlp--container) > #top-settings-holder:hover,
html > body.stlp--hideTopBar:has(.stlp--container) > #top-bar:hover,
html > body.stlp--hideTopBar:has(.stlp--container) > #top-bar + #top-settings-holder:hover,
html > body.stlp--hideTopBar:has(.stlp--container) > #top-bar:hover + #top-settings-holder {
  opacity: 1;
}
.stlp--container {
  --stlp--cardHeight: 200px;
  --stlp--cardWidth: calc(var(--stlp--cardHeight) / 144 * 96);
}
.stlp--container {
  position: absolute;
  inset: 0;
  padding-top: var(--topBarBlockSize);
  z-index: 2000;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-size: cover;
  background-position: center;
}
.stlp--container .stlp--menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 5vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stlp--container .stlp--menu > .stlp--item {
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms;
  padding: 0.25em 2em 0.25em 1em;
}
.stlp--container .stlp--menu > .stlp--item:hover {
  opacity: 1;
}
.stlp--container .stlp--wrapper {
  flex: 1 1 auto;
  position: relative;
  height: 100%;
  z-index: 2000;
}
.stlp--container .stlp--wrapper .stlp--cards {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap {
  flex: 0 0 auto;
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap:hover > .stlp--card {
  scale: 1.25;
  transform: translateY(0);
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap:hover > .stlp--card > .stlp--name {
  opacity: 1;
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap > .stlp--card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  transform-origin: bottom center;
  scale: 1;
  transform: translateY(calc(var(--stlp--cardHeight) * 0.3));
  transition: 200ms;
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap > .stlp--card > .stlp--name {
  opacity: 0;
  transition: 200ms;
  flex: 1 1 auto;
  text-align: center;
  text-shadow: 0px 0px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor), 1px 0px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor), 1px 1px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor), 0px 1px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor), -1px 1px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor), -1px 0px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor), -1px -1px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor), 0px -1px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor), 1px -1px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor);
}
.stlp--highlightFavorites.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap > .stlp--card.stlp--favorite > .stlp--avatar {
  filter: drop-shadow(0 0 6px yellow);
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap > .stlp--card > .stlp--avatar {
  flex: 0 0 auto;
  height: var(--stlp--cardHeight);
  width: 100%;
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap > .stlp--card > .stlp--avatar > .stlp--avatarImg:last-child {
  margin-right: 0 !important;
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap:hover > .stlp--mes {
  opacity: 1;
}
.stlp--container .stlp--wrapper .stlp--cards > .stlp--cardWrap > .stlp--mes {
  pointer-events: none;
  opacity: 0;
  transition: 200ms;
  position: fixed;
  top: calc(var(--topBarBlockSize) + 1em);
  height: calc(100svh - var(--topBarBlockSize) - 1em - var(--stlp--cardHeight) * 2);
  width: var(--sheldWidth);
  overflow: auto;
  margin: auto;
  right: 0;
  left: 0;
  padding: 10px;
  border-radius: 1px;
  border: 1px solid var(--SmartThemeBorderColor);
  backdrop-filter: blur(var(--SmartThemeBlurStrength));
  background-color: var(--SmartThemeChatTintColor);
  background-color: var(--SmartThemeUserMesBlurTintColor);
}
.stlp--container .stlp--wrapper[data-displayStyle="Center"] > .stlp--cards {
  bottom: calc((100svh - var(--topBarBlockSize)) / 2);
}
.stlp--container .stlp--wrapper[data-displayStyle="Center"] > .stlp--cards > .stlp--cardWrap > .stlp--card {
  transform: translateY(0);
  filter: drop-shadow(2px 4px 10px rgba(0 0 0 / 0.75));
}
.stlp--container .stlp--wrapper[data-displayStyle="Center"] > .stlp--cards > .stlp--cardWrap > .stlp--mes {
  top: calc((100svh - var(--topBarBlockSize)) / 2 + var(--topBarBlockSize));
}
.stlp--container .stlp--wrapper[data-displayStyle="Wall"] .stlp--cards {
  inset: 1em;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  padding-top: 1.5em;
}
.stlp--container .stlp--wrapper[data-displayStyle="Wall"] .stlp--cards > .stlp--cardWrap {
  width: var(--stlp--cardWidth);
}
.stlp--container .stlp--wrapper[data-displayStyle="Wall"] .stlp--cards > .stlp--cardWrap:hover > .stlp--card {
  scale: 1.1;
}
.stlp--container .stlp--wrapper[data-displayStyle="Wall"] .stlp--cards > .stlp--cardWrap > .stlp--card {
  transform: translateY(0);
  transform-origin: center;
  filter: drop-shadow(2px 4px 10px rgba(0 0 0 / 0.75));
}
.stlp--container .stlp--wrapper[data-displayStyle="Wall"] .stlp--cards > .stlp--cardWrap > .stlp--card > .stlp--name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.stlp--container .stlp--wrapper[data-displayStyle="Wall"] .stlp--cards > .stlp--cardWrap > .stlp--card > .stlp--avatar {
  background-color: var(--SmartThemeChatTintColor);
  background-color: var(--SmartThemeUserMesBlurTintColor);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.stlp--container .stlp--wrapper[data-displayStyle="Wall"] .stlp--cards > .stlp--cardWrap > .stlp--mes {
  display: none;
}
.stlp--container .stlp--wrapper[data-displayStyle="InfoWall"] .stlp--cards {
  inset: 1em;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding: 1.5em;
  margin-left: 10vw;
}
.stlp--container .stlp--wrapper[data-displayStyle="InfoWall"] .stlp--cards > .stlp--cardWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5em;
  height: calc(var(--stlp--cardHeight) + 1.2em);
}
.stlp--container .stlp--wrapper[data-displayStyle="InfoWall"] .stlp--cards > .stlp--cardWrap:hover {
  opacity: 1;
}
.stlp--container .stlp--wrapper[data-displayStyle="InfoWall"] .stlp--cards > .stlp--cardWrap:hover > .stlp--card {
  scale: 1;
}
.stlp--container .stlp--wrapper[data-displayStyle="InfoWall"] .stlp--cards > .stlp--cardWrap > .stlp--card {
  flex: 0 0 auto;
  transform: translateY(0);
  width: var(--stlp--cardWidth);
}
.stlp--container .stlp--wrapper[data-displayStyle="InfoWall"] .stlp--cards > .stlp--cardWrap > .stlp--card > .stlp--name {
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.stlp--container .stlp--wrapper[data-displayStyle="InfoWall"] .stlp--cards > .stlp--cardWrap > .stlp--card > .stlp--avatar {
  background-color: var(--SmartThemeChatTintColor);
  background-color: var(--SmartThemeUserMesBlurTintColor);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.stlp--container .stlp--wrapper[data-displayStyle="InfoWall"] .stlp--cards > .stlp--cardWrap > .stlp--mes {
  pointer-events: all;
  position: static;
  flex: 1 1 auto;
  height: var(--stlp--cardHeight);
  opacity: 1;
  margin: 0;
  width: unset;
}
.stlp--settings > .inline-drawer > .inline-drawer-content > * {
  margin-bottom: 1em;
}
.stlp--settings .stlp--menuContainer,
.stlp--settings .stlp--bgContainer {
  flex: 1 1 auto;
}
.stlp--settings .stlp--menuContainer .stlp--menuList,
.stlp--settings .stlp--bgContainer .stlp--menuList,
.stlp--settings .stlp--menuContainer .stlp--bgList,
.stlp--settings .stlp--bgContainer .stlp--bgList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.stlp--settings .stlp--menuContainer .stlp--menuList > .stlp--item,
.stlp--settings .stlp--bgContainer .stlp--menuList > .stlp--item,
.stlp--settings .stlp--menuContainer .stlp--bgList > .stlp--item,
.stlp--settings .stlp--bgContainer .stlp--bgList > .stlp--item {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-content: start;
  align-items: start;
}
.stlp--settings .stlp--menuContainer .stlp--menuList > .stlp--item > *,
.stlp--settings .stlp--bgContainer .stlp--menuList > .stlp--item > *,
.stlp--settings .stlp--menuContainer .stlp--bgList > .stlp--item > *,
.stlp--settings .stlp--bgContainer .stlp--bgList > .stlp--item > * {
  flex: 0 0 auto;
}
.stlp--settings .stlp--menuContainer .stlp--menuList > .stlp--item > .stlp--dragHandle,
.stlp--settings .stlp--bgContainer .stlp--menuList > .stlp--item > .stlp--dragHandle,
.stlp--settings .stlp--menuContainer .stlp--bgList > .stlp--item > .stlp--dragHandle,
.stlp--settings .stlp--bgContainer .stlp--bgList > .stlp--item > .stlp--dragHandle {
  padding: 0.75em;
}
.stlp--settings .stlp--menuContainer .stlp--menuList > .stlp--item > .stlp--commandWrap,
.stlp--settings .stlp--bgContainer .stlp--menuList > .stlp--item > .stlp--commandWrap,
.stlp--settings .stlp--menuContainer .stlp--bgList > .stlp--item > .stlp--commandWrap,
.stlp--settings .stlp--bgContainer .stlp--bgList > .stlp--item > .stlp--commandWrap,
.stlp--settings .stlp--menuContainer .stlp--menuList > .stlp--item .stlp--content,
.stlp--settings .stlp--bgContainer .stlp--menuList > .stlp--item .stlp--content,
.stlp--settings .stlp--menuContainer .stlp--bgList > .stlp--item .stlp--content,
.stlp--settings .stlp--bgContainer .stlp--bgList > .stlp--item .stlp--content {
  flex: 1 1 auto;
}
