.stl--chars {
	--stl--cardHeight: 144px;
	--stl--cardWidth: calc(var(--stl--cardHeight) / 144 * 96);
}
.stl--chars {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2em;

	> .stl--char {
		cursor: pointer;
		flex: 0 0 var(--stl--cardWidth);
		width: var(--stl--cardWidth);
		position: relative;
		top: calc(var(--stl--cardHeight) / 2);
		transition: 300ms ease-in-out;
		transform-origin: bottom center;
		transform: scale(1);
		&.stl--2, &.stl--3, &.stl--4 {
			> .stl--avatar {
				display: flex;
				flex-direction: row;
				> .stl--sub {
					flex: 0 0 var(--stl--cardWidth);
					height: var(--stl--cardHeight);
					margin-right: calc(var(--stl--cardWidth) * -0.5);
				}
			}
		}
		&.stl--2 {
			flex: 0 0 calc(var(--stl--cardWidth) * 1.5);
			width: calc(var(--stl--cardWidth) * 1.5);
		}
		&.stl--3 {
			flex: 0 0 calc(var(--stl--cardWidth) * 2.0);
			width: calc(var(--stl--cardWidth) * 2.0);
		}
		&.stl--4 {
			flex: 0 0 calc(var(--stl--cardWidth) * 2.5);
			width: calc(var(--stl--cardWidth) * 2.5);
		}
		&:hover {
			top: 0;
			transform: scale(1.25);
			> .stl--name {
				opacity: 1;
			}
		}
		> .stl--name {
			text-align: center;
			opacity: 0;
			transition: 400ms ease-in-out;
		}
		> .stl--avatar {
			height: var(--stl--cardHeight);
			width: 100%;
			background-size: cover;
			background-position: center;
			.stl--sub {
				background-size: cover;
				background-position: center;
			}
		}
	}
}
